
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjwvQUlvnSLtKZlbDFKbFZoj2IriOF_XY&callback=initMap">
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <title>Wiki Map</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/fd87467771.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar" style="background-color: #17a2b8;">
      <a class="navbar-brand" href="#">
        <img src="https://freeiconshop.com/wp-content/uploads/edd/location-map-flat.png" width="30" height="30"
          class="d-inline-block align-top" alt="">
        Mapper
      </a>
        <form class="form-inline" action="/logout" method="POST">
          <button type="submit" class="btn btn-primary">Logout</button></form>
    </nav>
  </header>

  <main>
    <section class="center" onmouseover="this.style.backgroundColor='#17a2b8'" onMouseOut="this.style.backgroundColor='#EEE'">
      <div>
        <h1>Create New Map</h1>
        <form action="/api/widgets/" method="POST">
          <div class="form-group">
            <label for="exampleFormControlInput1">Map Name</label>
            <input name="title" type="text" class="form-control" id="exampleFormControlInput1"
              placeholder="Enter map name here">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter a map description</label>
            <textarea placeholder="Enter a description for your map" name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <input style="margin-top: 2em;" type="submit" name="submit" class="btn btn-info btn-md" value="submit">
          </div>
        </form>
        <!-- <button class="center">Create Map</button> -->
      </div>
    </section>

    <section onmouseover="this.style.backgroundColor='#17a2b8'" onMouseOut="this.style.backgroundColor='#EEE'" style="border-radius: 15px;">
      <h1 class="user-section-heading">Your Maps</h1>
      <div class="row my-maps">
        <% for (let entry of userMaps) { %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto">
            <div class="carousel-item col-md-3 active">
              <div class="card your-maps" style="width: 25rem;">
                <div class="card-body">
                  <h2 class="card-title"><%=entry.title%></h2>
                  <h5 class="card-text"><%=entry.description%></h5>
                  <p><%=entry.created_at%></p>
                  </form>
                  <form method="GET" action="/api/widgets/<%=entry.id%>">
                    <button name="get" type="submit" class="btn btn-outline-primary inline">
                      <i class="fas fa-arrow-right"></i></button>
                  </form>
                  <form method="POST" autocomplete="off" action="/api/widgets/<%= entry.id %>/delete">
                    <button  class="btn btn-outline-danger inline">
                      Delete
                    </button>
                  </form>
                  <form method="POST" autocomplete="off" action="/api/widgets/<%= entry.id %>/favourite">
                    <button type="submit" class="btn btn-outline-danger inline">
                      <i class="fas fa-heart"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </section>

    <section onmouseover="this.style.backgroundColor='#17a2b8'" onMouseOut="this.style.backgroundColor='#EEE'" style="border-radius: 15px;">
      <h1 class="user-section-heading">All Maps</h1>
      <div class="row my-maps">
        <% for (let entry of allMaps) { %>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto">
            <div class="carousel-item col-md-3 active">
              <div class="card all-maps" style="width: 25rem;">
                <div class="card-body">
                  <h2 class="card-title"><%=entry.title%></h2>
                  <h5 class="card-text"><%=entry.description%></h5>
                  <p><%=entry.created_at%></p>
                  </form>
                  <form method="GET" action="/api/widgets/<%=entry.id%>">
                    <button name="get" type="submit" class="btn btn-outline-primary">
                      <i class="fas fa-arrow-right"></i></button>
                  </form>
                  <form method="POST" autocomplete="off" action="/api/widgets/<%= entry.id %>/favourite">
                    <button type="submit" class="btn btn-outline-danger">
                      <i class="fas fa-heart"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </section>

    <section onmouseover="this.style.backgroundColor='#17a2b8'" onMouseOut="this.style.backgroundColor='#EEE'"  style="border-radius: 15px;">
      <h1 class="user-section-heading">Favourited Maps</h1>
      <div class="row my-maps">
        <% for (let entry of favouriteMaps) { %>
        <div class="card fav-maps" style="width: 25rem;">
          <div class="card-body">
            <h2 class="card-title"><%=entry.map_title%></h2>
            <h5 class="card-text"><%=entry.map_description%></h5>
            <p><%=entry.map_creation%></p>
            <form method="GET" action="/api/widgets/<%=entry.id%>">
              <button name="get" type="submit" class="btn btn-outline-primary">
                <i class="fas fa-arrow-right"></i></button>
            </form>
            <form method="POST" autocomplete="off" action="/api/widgets/<%= entry.map_id %>/unfavourite">
              <button type="submit" class="btn btn-outline-danger">
                Unfavourite
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </section>

    <section onmouseover="this.style.backgroundColor='#17a2b8'" onMouseOut="this.style.backgroundColor='#EEE'" style="border-radius: 15px;">
      <h1 class="user-section-heading">Contributions</h1>
      <div class="row my-maps">
        <% for (let entry of contributions) { %>
        <div class="card" style="width: 25rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=entry.title%></h5>
            <p class="card-text"><%=entry.description%></p>
              <form method="GET" action="/api/widgets/<%=entry.id%>">
                <button name="get" type="submit" class="btn btn-outline-primary">
                  <i class="fas fa-arrow-right"></i></button>
              </form>
              <form method="POST" autocomplete="off" action="/api/widgets/<%= entry.map_id %>/unfavourite">
                <button type="submit" class="btn btn-outline-danger">
                  Unfavourite
                </button>
              </form>
          </div>
        </div>
      <% } %>
      </div>
    </section>



  </main>

  <footer>
    <div class= "footer">

    </div>
  </footer>


</body>

</html>
