<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjwvQUlvnSLtKZlbDFKbFZoj2IriOF_XY&callback=initMap">
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <title>Wiki Map</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/fd87467771.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mapper</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">example1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">example2</a>
          </li>
            <form class="form-inline" action="/logout" method="POST">
              <label for="logout">Logout:</label>
            <button type="submit" class="btn btn-primary">Logout</button></form>
          <li>

          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <section>
      <div>
        <h1>Create New Map</h1>
        <form action="/api/widgets/" method="POST">
          <div class="form-group">
            <label for="exampleFormControlInput1">Map Name</label>
            <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter map name here">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter a map description</label>
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
          </div>
        </form>
        <!-- <button class="center">Create Map</button> -->
      </div>
    </section>

    <section>
      <% for (let entry of favouriteMaps) { %>
        <ul>
          <li><%=entry.map_id%></li>
          <li><%=entry.map_title%></li>
          <li><%=entry.map_description%></li>
          <li><%=entry.map_creation%></li>

        </ul>
        <% } %>

        <% for (let entry of allMaps) { %>
          <ul>
            <li><%=entry.id%></li>
            <li><%=entry.title%></li>
            <li><%=entry.description%></li>
            <li><%=entry.created_at%></li>
            <form method="GET" action="/api/widgets/<%=entry.id%>">
              <button name="get" type="submit" class="btn btn-outline-primary">
                <%=entry.title%>
              </button>
              </form>
              <form method="POST" action="/api/widgets/delete/<%=entry.id%>">
                <button  class="btn btn-outline-danger">
                    Delete
                  </button>


          </ul>
          <% } %>

    </section>

    <section style="background-color: #BABABA;">
      <h1 class="user-section-heading">My Maps</h1>
      <div class="row my-maps">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <form method="GET" action="">
              <button name="get" type="button" value="delete" class="btn btn-outline-primary">
                Go
              </button>
            </form>
            <form method="POST" action="">
              <button name="submit" type="submit" value="submit" class="btn btn-outline-success">
                Edit
              </button>
            </form>
            <form method="POST" action="">
              <button name="Delete" type="delete" value="delete" class="btn btn-outline-danger">
                Delete
              </button>
            </form>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example sa to but.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </section>

    <section style="background-color: #AEBAB1;">
      <h1 class="user-section-heading">Other User Maps</h1>
      <div class="row my-maps">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <form method="GET" action="">
              <button name="get" type="button" value="delete" class="btn btn-outline-primary">
                Go
              </button>
            </form>
            <form method="POST" action="">
              <button name="submit" type="submit" value="submit" class="btn btn-outline-warning">
                Favourite
              </button>
            </form>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example sa to but.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </section>
    <section style="background-color: #BABABA;">
      <h1 class="user-section-heading">Favourited Maps</h1>
      <div class="row my-maps">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <form method="GET" action="">
              <button name="get" type="button" value="delete" class="btn btn-outline-primary">
                Go
              </button>
            </form>
            <form method="POST" action="">
              <button name="submit" type="submit" value="submit" class="btn btn-outline-warning">
                Favourite
              </button>
            </form>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example sa to but.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </section>
    <section style="background-color: #AEBAB1;">
      <h1 class="user-section-heading">Contributions</h1>
      <div class="row my-maps">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <form method="GET" action="">
              <button name="get" type="button" value="get" class="btn btn-outline-primary">
                Go
              </button>
            </form>
            <form method="POST" action="">
              <button name="submit" type="submit" value="submit" class="btn btn-outline-warning">
                Favourite
              </button>
            </form>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example sa to but.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
  </footer>


</body>

</html>
